<h1 style="color:black"><u>STUDENT REGISTRATION</u></h1>
<hr>
<div class="container">
    <form class="row"  [formGroup]="form" (ngSubmit)="saveStudent(form.value)"> 
        <div class="col-md-10">
            <h3>BASIC DETAILS</h3><br>
            
           </div><br>
           <div class="row">
           <div class="col-md-4">
               <label for="name" class="form-label">Name (AS IN MARKS SHEETS) :</label>
               <input [formControl]="form.controls['name']" type="text"  class="form-control" id="name" placeholder="" >
           </div ><br>
          
       </div>
           <br>
           
           <div class="col-md-4">
               <label for="dob" class="form-label"> DOB :</label> 
               <input [formControl]="form.controls['dob']" type="date" class="form-control" id="dob" placeholder=""  >
           </div>
           <div class="col-md-4">
               <label for="gender" class="form-label">GENDER :</label>
               <select [formControl]="form.controls['gender']" type="inoutGender" class="form-select" id="institutecode" placeholder="" >
               <option selected>Select Gender</option>
               <option>MALE</option>
               <option>FEMALE</option>
               <option>OTHERS</option>
           </select>
           </div>
           <div class="col-md-4">
               <label for="mobileNumber" class="form-label">MOBILE NUMBER:</label>
               <input [formControl]="form.controls['mobileNumber']" type="number" class="form-control" id="mobileNumber" placeholder=""  >
           </div>
           <div  class="row">
            <div class="col-md-4">
                <label for="emailId" class="form-label">EMAIL :</label>
                <input [formControl]="form.controls['email']" type="email" class="form-control" id="emailId" placeholder="abc@gmail.com" >
            </div>
            
           <div class="col-md-6">
               <label for="instituteCode" class="form-label">INSTITUTE CODE :</label>
               <input [formControl]="form.controls['institutionCode']" type="text" class="form-control" id="instituteCode"  >
           </div>
         
           <div class="col-md-12">
               <label for="aadhar" class="form-label">AADHAR NUMBER :</label>
               <input [formControl]="form.controls['aadharNumber']" type="number" class="form-control" id="aadhar"  >
           </div>
           
           <div class="col-md-8">
               <label for="bankIfscCode" class="form-label">BANK IFSC CODE :</label>
               <input [formControl]="form.controls['ifscCode']" type="text" class="form-control" id="bankIfscCode" >
           </div>
           <div class="col-md-8">
            <label for="holderName" class="form-label">HOLDER NAME :</label>
            <input [formControl]="form.controls['holderName']" type="text" class="form-control" id="holderName" >
        </div>
           <div class="col-md-8">
               <label for="AccountNumber" class="form-label">BANK ACCOUNT NUMBER :</label>
               <input [formControl]="form.controls['accountNo']" type="number" id="AccountNumber" class="form-control" >
             </div>
             <div class="col-md-8">
                <label for="password" class="form-label">PASSWORD</label>
                <input [formControl]="form.controls['password']" type="password" class="form-control" id="password" >
            </div>
              <div class="form-check" class="col-md-10">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked required>
                <label class="form-check-label" for="flexCheckChecked" >
                  ALL THE ABOVE INFORMATION FURNISHED BY ME IS TRUE TO THE BEST OF MY KNOWLEDGE.
                </label>
              </div>
             <div > <button  class="btn btn-success" type="register" [disabled]="form.invalid" >REGISTER</button>
            <button class="btn btn-danger" type="reset" value="Reset">RESET</button>
            </div>
        </div>
    </form>
</div> 