h1{
    color: blue;
    margin-left: 32%;
}
.btn{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
.container{
    background-color: antiquewhite;
}
h3{
    margin-top: 3px;
    margin-left: 400px;
}