
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>INSTITUTE APPLICATION LIST</h2>
    </div>
    <hr>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Institute Id</th>
            <th>Institute Name</th>
            <th>Location</th>
            <th>Institute State</th>
            <th>Institute Email</th>
            <th>Affiliated University Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let application of Instituteapplication | async">
            
            <td>{{ application.institutionCode }}</td>
            <td>{{ application.name }}</td>
            <td>{{ application.location }}</td>
            <td>{{ application.instState }}</td>
            <td>{{ application.email }}</td>
            <td>{{ application.affilatedUniversityBoardName }}</td>
            
            <td>
                
              <button class="btn btn-success" style="margin-left: 10px">APPROVE</button>

              <button class="btn btn-danger" style="margin-left: 30px">DENY</button>
            </td>
           
          </tr>
        </tbody>
      </table>
    </div>
  </div>
