
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>INSTITUTE APPLICATION LIST</h2>
    </div>
    <hr>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Institute Name</th>
            <th>Institute Code</th>
            <th>Institute Address</th>
            <th>Institute State</th>
            <th>Institute Email</th>
            <th>Pinciple Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let institute of instituteapplication | async">
            <td>{{ institute.name }}</td>
            <td>{{ institute.institutionCode }}</td>
            <td>{{ institute.location }}, {{ institute.district }} District</td>
            <td>{{ institute.state }}</td>
            <td>{{ institute.email }}</td>
            <td>{{ institute.principleName }}</td>
            
            <td>
                
              <button class="btn btn-success" style="margin-left: 10px">APPROVE</button>

              <button class="btn btn-danger" style="margin-left: 30px">DENY</button>
            </td>
           
          </tr>
        </tbody>
      </table>
    </div>
  </div>
