<h1 style="color:black;">STUDENT REGISTRATION DETAILS</h1>
<hr>
<div class="container">
    <form class="row"> 
        <div class="col-md-10">
            <h3>BASIC DETAILS</h3><br>
            <div class="col-md-4" >
                <label for="inputState" class="form-label">STATE OF DOMICILE :</label>
            </div>
               <label for="inputDistrict" class="form-label">DISTRICT :</label>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="inputName" class="form-label">Name (AS IN MARKS SHEETS) :</label>
            </div>
            <br>
        </div>
        <br>
        <div class="col-md-4">
            <label for="inputDOB" class="form-label"> DOB :</label>
        </div>
        <div class="col-md-4">
            <label for="inputGender" class="form-label">GENDER :</label>
        </div>
        <div class="col-md-4">
            <label for="inputMobileNumber" class="form-label">MOBILE NUMBER:</label>
        </div>
        <div  class="row">
            <div class="col-md-4">
                <label for="inputEmail" class="form-label">EMAIL :</label>
            </div>
            <div class="col-md-6">
                <label for="inputInstituteCode" class="form-label">INSTITUTE CODE :</label>
            </div>
            <div class="col-md-12">
                <label for="inputAdharNumber" class="form-label">AADHAR NUMBER :</label>
            </div>
        
            <div class="col-md-8">
                <label for="inputBankIFSCCode" class="form-label">BANK IFSC CODE :</label>
            </div>
            <div class="col-md-8">
                <label for="inputBankAccountNumber" class="form-label">BANK ACCOUNT NUMBER :</label>
            </div>
            <div class="col-md-8">
                <label for="inputBankName" class="form-label">BANK NAME :</label>
            </div>
            <div class="col-md-8">
                <label for="password" class="form-label">PASSWORD :</label>
            </div>
            <div>
                <button  class="btn btn-success">APPROVE</button>
                <button class="btn btn-danger">DENY</button>
            </div>
        </div>
    </form>
</div> 