
<!---->
<h1 style="color:black;">STUDENT APPLICATION DETAILS</h1>
<hr>
<h3 style="margin-left: 110px;">BASIC DETAILS</h3><br>
<div class="container" *ngFor="let application of Studentapplication | async">
    <form class="row"> 
        <div class="col-md-10">
            <div class="col-md-4" >
                <label for="inputState" class="form-label">STATE OF DOMICILE : {{application.stateofDomicile}}</label>
            </div>
               <label for="inputDistrict" class="form-label">DISTRICT : {{application.dist}}</label>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="inputName" class="form-label">Name (AS IN MARKS SHEETS) : {{application.name}}</label>
            </div>
            <br>
        </div>
        <br>
        <div class="col-md-4">
            <label for="inputDOB" class="form-label"> DOB : {{application.dob}}</label>
        </div>
        <div class="col-md-4">
            <label for="inputGender" class="form-label">GENDER : {{application.gender}}</label>
        </div>
        <div class="col-md-4">
            <label for="inputMobileNumber" class="form-label">MOBILE NUMBER: {{application.mobileNumber}}</label>
        </div>
        <div  class="row">
            <div class="col-md-4">
                <label for="inputEmail" class="form-label">EMAIL : {{application.email}}</label>
            </div>
            <div class="col-md-6">
                <label for="inputInstituteCode" class="form-label">INSTITUTE CODE : {{application.institutionCode}}</label>
            </div>
            <div class="col-md-12">
                <label for="inputAdharNumber" class="form-label">AADHAR NUMBER : {{application.aadhar}}</label>
            </div>
        
            <div class="col-md-8">
                <label for="inputBankIFSCCode" class="form-label">BANK IFSC CODE : {{application.ifsc}}</label>
            </div>
            <div class="col-md-8">
                <label for="inputBankAccountNumber" class="form-label">BANK ACCOUNT NUMBER : {{application.accountNo}}</label>
            </div>
            <div class="col-md-8">
                <label for="inputBankName" class="form-label">BANK NAME : {{application.bankName}}</label>
            </div>
            <div class="col-md-8">
                <label for="password" class="form-label">PASSWORD : {{application.password}}</label>
            </div>
            <div *ngIf='application.status==false'>
                <button class="btn btn-success" (click)="approve(application)" onclick="window.location.reload();">APPROVE</button>
                <button class="btn btn-danger" (click)="remove(application)" onclick="window.location.reload();">DENY</button>
            </div>
            <div *ngIf='application.status==true'>
                <button class="btn btn-success">Approved</button>
            </div>
        </div>
    </form>
    <br>
    <hr>
</div> 
